@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
   font-family: "Bebas";
   src: url("../fonts/BebasNeue Bold.otf") format("opentype");
}
body,
html {
   background: #000;
   font-family: "Roboto";
   color: #fff;
}
.container {
   margin: 0px auto;
   max-width: 1360px;
   //padding: 0px 40px;
}

.scroll-container {
   height: 100vh;
   background: black;
}
.speak {
   margin: 150vh 0;
   &:first-child {
      margin-top: -50vh;
   }
}

.speak[data-scroll] {
   // transition: opacity .3s;
   transform: translatey(calc(var(--viewport-y) * 30vh));
   opacity: calc(var(--visible-y));
}

.scroll-sequence__content {
   padding: 4em;
}
.scroll-sequence {
   position: sticky;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -5;
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.header {
   position: fixed;
   z-index: 100;
   width: 100%;
   margin: 20px 0px 0px 0px;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   ul {
      display: flex;
      align-items: center;
   }
   li {
      opacity: 0.4;
      margin: 0px 14px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      &:hover {
         opacity: 1;
      }
      &.active {
         opacity: 1;
      }
      a {
         color: #ffffff;
      }
   }
   .butt {
      padding: 8px 16px;
      background: #000;
      border-radius: 80px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      img {
         margin: 0px 4px 0px 0px;
      }
   }
}
.intro {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 100vh;
   .iimg {
      width: 582px;
      height: 582px;
      position: absolute;
      z-index: 1;
      left: calc(50% - 240px);
      top: calc(50vh - 291px);
   }

   .ileft {
      position: absolute;
      top: 0;
      left: 0;
      width: 58.5vw;
      height: 100vh;
      background: #ef2adc;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
   }
   .iright {
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      background: #00ed75;
      width: 58.5vw;
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
   }
   .cat {
      //width: 47vw;
      width: auto;
      height: 90vh;
      z-index: 3;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0px 0px 0px -100px;
      object-fit: cover;
      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }
   .ufo {
      //width: 47vw;
      width: auto;
      height: 90vh;
      z-index: 3;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0px -80px 0px 0px;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
         //margin: 0px 0px 0px 10px;
      }
   }
   .mouse {
      position: absolute;
      left: calc(50% - 1.5rem);
      bottom: 20px;
      z-index: 5;
   }
}
.about {
   height: 100vh;
   z-index: 0;
   background: #ef2adc;
   padding: 150px 70px;
   position: relative;
   h2 {
      z-index: 2;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 199px;
      line-height: 0.9;
      text-transform: uppercase;
      span {
         color: #00ed75;
      }
   }

   .fly1 {
      position: absolute;
      top: 5%;
      right: 20%;
      z-index: -1;
   }
   .fly2 {
      position: absolute;
      top: 35%;
      right: 3%;
      width: 180px;
      height: 185px;
      z-index: -1;
   }
   .fly3 {
      position: absolute;
      top: 35%;
      left: -15%;
      z-index: -1;
   }
   .fly4 {
      position: absolute;
      z-index: -1;
      left: 20%;
      bottom: 5%;
   }
   .fly5 {
      position: absolute;
      z-index: -1;
      left: -5%;
      bottom: -10%;
      filter: blur(9px);
   }
   .fly6 {
      position: absolute;
      z-index: -2;
      left: 3%;
      bottom: 10%;
      width: 153px;
      height: 143px;
      filter: blur(11px);
   }
   .fly7 {
      position: absolute;
      z-index: -1;
      left: 47%;
      bottom: -10%;
      width: 153px;
      height: 143px;
   }
   .fly8 {
      position: absolute;
      z-index: -1;
      filter: blur(20px);
      left: 25%;
      top: 20%;
   }
   .fly9 {
      position: absolute;
      z-index: -1;

      left: -5%;
      top: 5%;
   }
   .fly10 {
      position: absolute;
      z-index: -1;

      right: 0%;
      bottom: -5%;
   }
}
.catnip-heroe {
   height: 100%;
   background: url(../img/bg-catnip.png);
   background-position-x: center;
   background-repeat: no-repeat;
   background-size: cover;
   .cat-lights {
      width: 100%;
      height: 100%;
      position: relative;
   }
   .light1 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      left: 50px;
   }
   .light2 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      right: 50px;
   }
   .light3 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 10%;
      right: 50px;
      z-index: 0;
   }
   .light4 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 10%;
      left: 50px;
      z-index: 0;
   }
   .cat {
      padding: 30% 0px 0px 0px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   h3 {
      margin-top: calc();
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      z-index: 3;
      color: #ffffff;
   }
   h1 {
      z-index: 3;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 220px;
      line-height: 220px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .description {
      z-index: 3;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      /* or 150% */

      text-align: center;

      color: #ffffff;
      padding-bottom: 81px;
   }
}
.ufo-heroe {
   background: url(../img/ufo-bg.png) no-repeat;
   background-size: cover;
   background-position-x: center;
   height: 100%;

   .cat-lights {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
   }
   .metal1 {
      position: absolute;

      top: 0%;
      left: -250px;
   }
   .metal2 {
      position: absolute;

      top: 0%;
      right: 0px;
   }
   .metal3 {
      position: absolute;

      bottom: 0%;
      right: 0;
      z-index: 0;
   }
   .metal4 {
      position: absolute;

      bottom: -30px;
      left: 0;

      z-index: 0;
   }
   .metal-ball1 {
      position: absolute;

      top: 5%;
      left: 15%;

      z-index: 0;
   }
   .metal-ball2 {
      position: absolute;

      bottom: 35%;
      right: 5%;

      z-index: 0;
   }
   .cat {
      padding: 30% 0px 0px 0px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   h3 {
      margin-top: calc();
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #ffffff;
   }
   h1 {
      z-index: 3;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 220px;
      line-height: 220px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .description {
      z-index: 3;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      /* or 150% */

      text-align: center;

      color: #ffffff;
      padding-bottom: 81px;
   }
}
.collection {
}
.allcards {
   display: flex;
   justify-content: center;
   .cards-left {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .card {
         margin-right: 13px;
      }
   }
   .cards-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .card {
         margin-left: 13px;
      }
   }
}

.card {
   background: #171717;
   width: 216px;
   height: 270px;
   margin-bottom: 13px;
   border-radius: 13.6454px;
   .heroe-picture {
      img {
         width: 217px;
         height: 212px;
      }
   }
   .down {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;

      display: flex;
      justify-content: space-between;
      .name {
         font-style: normal;
         font-weight: 400;
         font-size: 16.3745px;
         line-height: 19px;
         color: #dbae00;
      }
      .number {
         font-style: normal;
         font-weight: 400;
         font-size: 16.3745px;
         line-height: 19px;

         color: #ffffff;
      }
   }
}
.wrap-fix {
   position: relative;
}
.howmuch {
   height: 100vh;
   position: relative;
   overflow: hidden;

   .how1 {
      position: absolute;
      left: 50%;
      top: -10%;
   }
   .how2 {
      position: absolute;
      right: 5%;
      top: 10%;
   }
   .how3 {
      position: absolute;
      right: calc(50% + 343px);
      top: 230px;
      z-index: -1;
   }
   .how4 {
      position: absolute;
      top: 50%;
      left: -5%;
   }
   .how5 {
      position: absolute;
      top: 70%;
      left: 35%;
   }
   .how6 {
      position: absolute;
      top: 80%;
      left: 1%;
   }
   .how7 {
      position: absolute;
      bottom: -10%;
      right: 25%;
   }
   .how8 {
      position: absolute;
      bottom: 5%;
      right: 0%;
   }
   .title {
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 80px;
      /* identical to box height, or 133% */
      padding-top: 200px;

      text-align: center;
      color: #00ed75;
   }
   .number {
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 589.763px;
      line-height: 590px;
      /* identical to box height */
      text-align: center;
      text-transform: uppercase;

      color: #00ed75;
   }
}

.double {
   display: flex;
   height: 100vh;
   background: url(../img/double-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   align-items: center;
   justify-content: center;
   .cardl {
      height: 85%;
      background: url(../img/double-left.png) #ef2adc no-repeat;
      background-position: top left;
      width: 35%;
      margin-left: 70px;
      margin-right: 20px;

      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      border-radius: 42.3174px;
      flex-direction: column;
      .picture {
      }
      .number {
         font-size: 300px;
         line-height: 100%;
         padding-left: 52px;
         color: #fff;
      }
      .name {
         font-style: normal;
         font-weight: 300;
         font-size: 50.7809px;
         line-height: 60px;
         /* identical to box height */
         padding-bottom: 62px;
         padding-left: 52px;

         color: #ffffff;
      }
   }

   .cardr {
      margin-right: 70px;
      margin-left: 20px;
      height: 85%;
      width: 35%;
      background: url(../img/double-right.png) #00ed75 no-repeat;
      background-position: bottom left;
      display: flex;
      flex-direction: column;
      border-radius: 42.3174px;
      .picture {
      }
      .number {
         font-size: 300px;
         line-height: 100%;
         padding-left: 52px;
         text-align: left;
         color: #fff;
      }
      .name {
         font-style: normal;
         font-weight: 300;
         font-size: 50.7809px;
         line-height: 60px;
         /* identical to box height */
         padding-left: 52px;

         color: #ffffff;
      }
   }
}
