@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Bold.otf") format("opentype");
}

.mob-road {
  display: none;
}

.hiiden,
.game .down .right .coming-soon,
.integration .right .title-int,
.phraze-mob,
.header-mob {
  display: none;
}

body,
html {
  background: #000;
  font-family: "Roboto";
  color: #fff;
}

.container {
  margin: 0px auto;
  max-width: 1360px;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header li {
  margin: 0px 14px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header li a {
  color: #ffffff;
  opacity: 0.4;
}

.header li a:hover {
  opacity: 1;
}

.header li a.active {
  opacity: 1;
}

.header .butt {
  padding: 8px 16px;
  background: #000;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.header .butt img {
  margin: 0px 4px 0px 0px;
}

.intro {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.intro .iimg {
  width: 582px;
  height: 582px;
  position: absolute;
  z-index: 1;
  left: calc(50% - 240px);
  top: calc(50vh - 291px);
}

.intro .ileft {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  background: #ef2adc;
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.intro .iright {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background: #00ed75;
  width: 59vw;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.intro .cat {
  width: auto;
  height: 90vh;
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0px 0px 0px -100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro .cat img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.intro .ufo {
  width: auto;
  height: 90vh;
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px -80px 0px 0px;
}

.intro .ufo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.intro .mouse {
  position: absolute;
  left: calc(50% - 1.5rem);
  bottom: 20px;
  z-index: 5;
}

.about {
  height: 100vh;
  z-index: 0;
  background: #ef2adc;
  padding: 150px 70px;
  position: relative;
}

.about h2 {
  z-index: 2;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 199px;
  line-height: 0.9;
  text-transform: uppercase;
  text-align-last: left;
}

.about h2 span {
  color: #00ed75;
}

.about .fly1 {
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: -1;
}

.about .fly2 {
  position: absolute;
  top: 35%;
  right: 3%;
  width: 180px;
  height: 185px;
  z-index: -1;
}

.about .fly3 {
  position: absolute;
  top: 35%;
  left: -15%;
  z-index: -1;
}

.about .fly4 {
  position: absolute;
  z-index: -1;
  left: 20%;
  bottom: 5%;
}

.about .fly5 {
  position: absolute;
  z-index: -1;
  left: -5%;
  bottom: -10%;
  -webkit-filter: blur(9px);
          filter: blur(9px);
}

.about .fly6 {
  position: absolute;
  z-index: -2;
  left: 3%;
  bottom: 10%;
  width: 153px;
  height: 143px;
  -webkit-filter: blur(11px);
          filter: blur(11px);
}

.about .fly7 {
  position: absolute;
  z-index: -1;
  left: 47%;
  bottom: -10%;
  width: 153px;
  height: 143px;
}

.about .fly8 {
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  left: 25%;
  top: 20%;
}

.about .fly9 {
  position: absolute;
  z-index: -1;
  left: -5%;
  top: 5%;
}

.about .fly10 {
  position: absolute;
  z-index: -1;
  right: 0%;
  bottom: -5%;
}

.catnip-heroe {
  height: 100%;
  background: url(../img/bg-catnip.png);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.catnip-heroe .cat-lights {
  width: 100%;
  height: 100%;
  position: relative;
}

.catnip-heroe .light1 {
  position: absolute;
  width: 444px;
  height: 491px;
  top: 20%;
  left: 50px;
}

.catnip-heroe .light2 {
  position: absolute;
  width: 444px;
  height: 491px;
  top: 20%;
  right: 50px;
}

.catnip-heroe .light3 {
  position: absolute;
  width: 444px;
  height: 491px;
  bottom: 10%;
  right: 50px;
  z-index: 0;
}

.catnip-heroe .light4 {
  position: absolute;
  width: 444px;
  height: 491px;
  bottom: 10%;
  left: 50px;
  z-index: 0;
}

.catnip-heroe .cat {
  padding: 30% 0px 0px 0px;
}

.catnip-heroe .cat img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catnip-heroe h3 {
  margin-top: calc();
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 3;
  color: #ffffff;
}

.catnip-heroe h1 {
  z-index: 3;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 220px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.catnip-heroe .description {
  z-index: 3;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */
  text-align: center;
  color: #ffffff;
  padding-bottom: 81px;
  margin-top: -15px;
}

.double .cardr .number {
  padding-top: 5% !important;
}

.double .cardl .name {
  padding-bottom: 5% !important;
}

.ufo-heroe {
  background: url(../img/ufo-bg.png) no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100%;
}

.ufo-heroe .cat-lights {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ufo-heroe .metal1 {
  position: absolute;
  top: 0%;
  left: -250px;
}

.ufo-heroe .metal2 {
  position: absolute;
  top: 0%;
  right: 0px;
}

.ufo-heroe .metal3 {
  position: absolute;
  bottom: 0%;
  right: 0;
  z-index: 0;
}

.ufo-heroe .metal4 {
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
}

.ufo-heroe .metal-ball1 {
  position: absolute;
  top: 5%;
  left: 15%;
  z-index: 0;
}

.ufo-heroe .metal-ball2 {
  position: absolute;
  bottom: 35%;
  right: 5%;
  z-index: 0;
}

.ufo-heroe .cat {
  padding: 30% 0px 0px 0px;
}

.ufo-heroe .cat img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ufo-heroe h3 {
  margin-top: calc();
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.ufo-heroe h1 {
  z-index: 3;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 220px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.ufo-heroe .description {
  z-index: 3;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */
  text-align: center;
  color: #ffffff;
  padding-bottom: 81px;
  margin-top: -15px;
}

.collection {
  z-index: 1;
  overflow: hidden;
  height: 100%;
}

.collection .allcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.collection .allcards .cards-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -7.5px;
}

.collection .allcards .cards-left .card {
  margin-right: 13px;
}

.collection .allcards .cards-right {
  margin-left: -7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.collection .allcards .cards-right .card {
  margin-left: 13px;
}

.card {
  background: #171717;
  width: 216px;
  height: 270px;
  margin-bottom: 13px;
  border-radius: 13.6454px;
}

.card .heroe-picture img {
  width: 217px;
  height: 212px;
}

.card .down {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .down .name {
  font-style: normal;
  font-weight: 400;
  font-size: 16.3745px;
  line-height: 19px;
  color: #dbae00;
}

.card .down .number {
  font-style: normal;
  font-weight: 400;
  font-size: 16.3745px;
  line-height: 19px;
  color: #ffffff;
}

.wrap-fix {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.wrap-fix .animation-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/animation-group.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
}

.howmuch {
  height: 100vh;
  display: block;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.howmuch .how1 {
  position: absolute;
  left: 50%;
  top: -10%;
}

.howmuch .how2 {
  position: absolute;
  right: 5%;
  top: 10%;
}

.howmuch .how3 {
  position: absolute;
  right: calc(50% + 343px);
  top: 230px;
  z-index: -1;
}

.howmuch .how4 {
  position: absolute;
  top: 50%;
  left: -5%;
}

.howmuch .how5 {
  position: absolute;
  top: 70%;
  left: 35%;
}

.howmuch .how6 {
  position: absolute;
  top: 80%;
  left: 1%;
}

.howmuch .how7 {
  position: absolute;
  bottom: 0%;
  right: 25%;
}

.howmuch .how8 {
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.howmuch .title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  /* identical to box height, or 133% */
  padding-top: 200px;
  text-align: center;
  color: #00ed75;
}

.howmuch .number {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 589.763px;
  line-height: 590px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #00ed75;
}

.skins {
  height: 100%;
  overflow: hidden;
  overflow: hidden;
}

.skins .title {
  font-family: "Bebas";
  margin-top: 112px;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 94%;
  /* or 94px */
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90.46deg, #bf22b0 10.27%, #e0b70f 96.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.skins img {
  margin: 10px;
  background: #141414;
  border-radius: 7.02524px;
}

.skins .skinses {
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
}

.skins .bro {
  position: relative;
  height: 730px;
}

.skins .nobg {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  right: 0;
  bottom: 0;
}

.bgnew {
  background: url(../img/bg-new.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -408px 10px;
}

.double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.double .cardl {
  height: 884px;
  background: url(../img/double-left.png) #ef2adc no-repeat;
  background-position: top left;
  width: 35%;
  margin-left: 70px;
  margin-right: 20px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 42.3174px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.double .cardl .number {
  font-size: 11vw;
  line-height: 100%;
  padding-left: 52px;
  padding-right: 52px;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-align: left;
  display: block;
  margin-right: auto;
}

.double .cardl .name {
  font-style: normal;
  font-weight: 300;
  font-size: 50.7809px;
  line-height: 60px;
  /* identical to box height */
  padding-left: 52px;
  margin-top: 20px;
  color: #ffffff;
}

.double .cardr {
  margin-right: 70px;
  margin-left: 20px;
  height: 884px;
  width: 35%;
  width: 600px;
  background: url(../img/double-right.png) #00ed75 no-repeat;
  background-position: bottom left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 42.3174px;
}

.double .cardr .number {
  font-size: 13vw;
  line-height: 100%;
  padding-left: 52px;
  padding-right: 52px;
  text-align: left;
  font-weight: bold;
  color: #fff;
  width: 100%;
}

.double .cardr .name {
  font-style: normal;
  font-weight: 300;
  font-size: 50.7809px;
  line-height: 60px;
  /* identical to box height */
  padding-left: 52px;
  text-align: left;
  margin-top: 20px;
  color: #ffffff;
}

.custom {
  overflow: hidden;
}

.custom .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  gap: 4px;
  width: 232px;
  height: 40px;
  background: #bf22b0;
  border-radius: 61px;
  margin: 0 auto;
  margin-top: 112px;
  margin-bottom: 35px;
}

.custom h1 {
  margin-bottom: 0 !important;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 94%;
  /* identical to box height, or 94px */
  text-transform: uppercase;
  background: linear-gradient(90.46deg, #bf22b0 10.27%, #e0b70f 96.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.custom h2 {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  /* or 129% */
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 915px;
  max-height: 108px;
}

.custom .kat {
  position: relative;
  width: 750px;
  height: 900px;
  left: calc(50% - 375px);
}

.custom .kat img {
  left: 0;
  bottom: 0;
  position: absolute;
}

.custom .kat .body-cat {
  z-index: -1;
}

.custom .kat .clothes1 {
  z-index: 0;
}

.custom .kat .clothes2 {
  z-index: 0;
}

.custom .kat .clothes3 {
  z-index: 1;
}

.custom .kat .clothes4 {
  z-index: 0;
}

.custom .kat .clothes5 {
  z-index: 0;
}

.custom .kat .clothes6 {
  z-index: 2;
}

.custom .kat .body-cat {
  z-index: -1;
}

.custom .kat .clothes11 {
  z-index: 0;
}

.custom .kat .clothes22 {
  z-index: 0;
}

.custom .kat .clothes33 {
  z-index: 1;
}

.custom .kat .clothes44 {
  z-index: 0;
}

.custom .kat .clothes55 {
  z-index: 0;
}

.custom .kat .clothes66 {
  z-index: 2;
}

.custom .kat-2 {
  position: relative;
  width: 750px;
  height: 900px;
  left: 0;
  top: 0;
}

.custom .kat-2 img {
  left: 0;
  bottom: 0;
  position: absolute;
}

.custom .img-wrapper {
  max-width: 100vw;
  height: 562px;
  position: relative;
}

.custom .img-wrapper .first {
  position: absolute;
  left: 0;
}

.custom .img-wrapper .second {
  position: absolute;
  left: calc(50% - 234px);
}

.custom .img-wrapper .third {
  position: absolute;
  right: 0;
}

.custom .img-wrapper .fourth {
  bottom: calc(50% - 100px);
  position: absolute;
  left: 30%;
}

.custom .img-wrapper .fiveth {
  bottom: calc(50% - 100px);
  position: absolute;
  left: 60%;
}

.custom .img-wrapper .first-mob,
.custom .img-wrapper .second-mob,
.custom .img-wrapper .third-mob,
.custom .img-wrapper .fourth-mob,
.custom .img-wrapper .fiveth-mob {
  display: none;
}

.custom .phraze {
  position: absolute;
  z-index: 3;
  left: calc(50% + 50px);
  bottom: calc(50% - 150px);
}

.game {
  background: url(../img/game-bg.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.game .lefthp {
  width: 337px;
  height: 33px;
  background: url(../img/game-lefthp.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  margin-left: 47px;
  color: #ffffff;
}

.game .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.game .title-game {
  text-align: center;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 94%;
  /* or 169px */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.game .descripton-game {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;
  /* identical to box height, or 171% */
  text-align: center;
  color: #ffffff;
}

.game .righthp {
  width: 337px;
  height: 33px;
  background: url(../img/game-righthp.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  margin-right: 47px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ffffff;
}

.game .center {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game .center .left-heroe {
  margin-left: 5%;
}

.game .center .left-heroe img {
  display: block;
  width: 100%;
}

.game .center .game-center {
  display: block;
}

.game .center .right-heroe {
  margin-right: 5%;
}

.game .center .right-heroe img {
  display: block;
  width: 100%;
}

.game .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
}

.game .down .left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background: #ef2adc;
}

.game .down .left .title-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 127.19%;
  /* or 41px */
  text-align: center;
  margin: 0 auto;
  max-width: 516px;
  padding: 10% 0;
  color: #ffffff;
}

.game .down .left .coming-soon {
  padding-left: 40px;
  padding-bottom: 5%;
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game .down .left .coming-soon .logo img {
  margin-right: 13px;
}

.game .down .left .coming-soon .text {
  font-weight: 400;
  font-size: 20px;
  line-height: 127.19%;
  color: #000000;
  text-align-last: left;
}

.game .down .right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  background: #00ed75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game .down .right .title-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 127.19%;
  /* or 41px */
  text-align: center;
  margin: 0 auto;
  max-width: 516px;
  padding: 10% 0;
  color: #ffffff;
}

.integration {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding: auto 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.integration .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 60%;
  padding-left: 5%;
}

.integration .left .title-int {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}

.integration .left .description1 {
  font-weight: 300;
  font-size: 32px;
  line-height: 127.19%;
  /* or 41px */
  text-align: left;
  color: #ffffff;
}

.integration .left .description2 {
  margin-top: 24px;
  font-weight: 300;
  font-size: 32px;
  line-height: 127.19%;
  /* or 41px */
  text-align: left;
  color: #ffffff;
}

.integration .right {
  margin-left: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5%;
  width: 40%;
  height: 80%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.integration .right .phone {
  border: 10px solid #480d42;
  border-radius: 45px;
  height: 784px;
  width: 519px;
  margin-left: auto;
  margin-left: 20px;
  -webkit-box-shadow: 0px 8px 38px 0px #ff00f533;
          box-shadow: 0px 8px 38px 0px #ff00f533;
  -webkit-box-shadow: 0px 38px 184px 0px #ef2adc5e;
          box-shadow: 0px 38px 184px 0px #ef2adc5e;
}

.integration .video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 35px;
  z-index: 1;
}

.integration .video-container video {
  z-index: -1;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.integration .video-container video {
  max-width: 120%;
  max-height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.subscribe {
  overflow: hidden;
  background: url(../img/light-sub.png) #ef2adc;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.subscribe .title-sub {
  z-index: -2;
  padding-top: 40vh;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe .sub1 {
  position: absolute;
  z-index: 1;
  top: -170px;
  left: 40%;
}

.subscribe .sub2 {
  position: absolute;
  z-index: 1;
  right: calc(50% - 575px);
  top: calc(50% - 400px);
}

.subscribe .sub3 {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 10vh;
}

.subscribe .sub4 {
  position: absolute;
  z-index: 1;
  left: calc(40% - 306px);
  bottom: calc(40% - 349px);
}

.subscribe .sub5 {
  position: absolute;
  z-index: 1;
  right: 5vw;
  bottom: 0;
}

.subscribe .sub6 {
  position: absolute;
  z-index: 0;
  bottom: -5%;
  right: 0;
}

.subscribe .sub7 {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: calc(50% - 300px);
}

.subscribe a {
  display: block;
  position: relative;
  width: 420px;
  height: 110px;
  background: #000000;
  border-radius: 167.75px;
  margin: 0 auto;
  margin-top: 26px;
  z-index: 20;
  margin-bottom: 40vh;
}

.subscribe .button {
  width: 420px;
  height: 110px;
  background: #000000;
  border-radius: 167.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.subscribe .text {
  font-weight: 400;
  font-size: 41.25px;
  line-height: 48px;
  color: #ffffff;
  padding-left: 11px;
}

@media (max-width: 1300px) {
  .places {
    position: static;
    display: block !important;
    left: 0 !important;
    top: 200px !important;
    height: 1042px;
  }
  .mob-road {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    position: absolute;
  }
  .roadmap .title {
    margin-left: 20px;
  }
}

.roadmap {
  position: relative;
  background: #000;
}

.roadmap .desk-road {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.roadmap .title {
  padding-top: 114px;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.roadmap .canvas {
  width: 1280px !important;
  height: 2200px !important;
  margin-top: 0 !important;
  margin-bottom: 50px;
}

.roadmap .places {
  display: none;
}

.roadmap .place1 {
  position: absolute;
  left: 210px;
  top: 200px;
}

.roadmap .place1 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #00ed75;
}

.roadmap .place1 .what {
  text-align-last: left;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #00ed75;
}

.roadmap .place2 {
  position: absolute;
  left: 602px;
  top: 434px;
}

.roadmap .place2 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #00ed75;
}

.roadmap .place2 .what {
  text-align-last: left;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #00ed75;
}

.roadmap .place3 {
  position: absolute;
  left: 831px;
  top: 726px;
}

.roadmap .place3 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place3 .what {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place4 {
  position: absolute;
  left: 627px;
  top: 961px;
}

.roadmap .place4 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place4 .what {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place5 {
  position: absolute;
  left: 213px;
  top: 1003px;
}

.roadmap .place5 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place5 .what {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place6 {
  position: absolute;
  left: 152px;
  top: 1364px;
}

.roadmap .place6 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place6 .what {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place7 {
  position: absolute;
  left: 207px;
  top: 1665px;
}

.roadmap .place7 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place7 .what {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-align-last: left;
  background: rgba(217, 217, 217, 0.11);
  color: #ffffff;
  -webkit-filter: blur(19px);
          filter: blur(19px);
}

.roadmap .place8 {
  position: absolute;
  left: 841px;
  top: 1880px;
}

.roadmap .place8 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place8 .what {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place9 {
  position: absolute;
  left: 518px;
  top: 2392px;
}

.roadmap .place9 .date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align-last: left;
  color: #ffffff;
}

.roadmap .place9 .what {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  text-align-last: left;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  background: rgba(217, 217, 217, 0.11);
  color: #ffffff;
}

#background,
#background2 {
  width: 1280px !important;
  height: 720px !important;
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
