@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
   font-family: "Bebas";
   src: url("../fonts/BebasNeue Bold.otf") format("opentype");
}
body,
html {
   background: #000;
   font-family: "Roboto";
   color: #fff;
}
.container {
   margin: 0px auto;
   max-width: 1360px;
   //padding: 0px 40px;
}

.header {
   position: fixed;
   z-index: 100;
   width: 100%;
   margin: 20px 0px 0px 0px;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   ul {
      display: flex;
      align-items: center;
   }
   li {
      opacity: 0.4;
      margin: 0px 14px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      &:hover {
         opacity: 1;
      }
      &.active {
         opacity: 1;
      }
      a {
         color: #ffffff;
      }
   }
   .butt {
      padding: 8px 16px;
      background: #000;
      border-radius: 80px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      img {
         margin: 0px 4px 0px 0px;
      }
   }
}
.intro {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 100vh;
   .iimg {
      width: 582px;
      height: 582px;
      position: absolute;
      z-index: 1;
      left: calc(50% - 240px);
      top: calc(50vh - 291px);
   }

   .ileft {
      position: absolute;
      top: 0;
      left: 0;
      width: 60vw;
      height: 100vh;
      background: #ef2adc;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
   }
   .iright {
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      background: #00ed75;
      width: 60vw;
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
   }
   .cat {
      width: 47vw;
      z-index: 3;
      position: absolute;
      left: 0;
      bottom: 0;

      img {
         width: 100%;
         object-fit: contain;
         margin: 0px 0px 0px -100px;
      }
   }
   .ufo {
      width: 47vw;
      z-index: 3;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0px 0px 0px -100px;

      img {
         width: 100%;
         object-fit: cover;
         margin: 0px 0px 0px 100px;
      }
   }
   .mouse {
      position: absolute;
      left: calc(50% - 1.5rem);
      bottom: 20px;
      z-index: 5;
   }
}
.about {
   height: 100vh;
   z-index: 0;
   background: #ef2adc;
   padding: 150px 70px;
   position: relative;
   h2 {
      z-index: 2;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 199px;
      line-height: 0.9;
      text-transform: uppercase;
      span {
         color: #00ed75;
      }
   }

   .fly1 {
      position: absolute;
      top: 5%;
      right: 20%;
      z-index: -1;
   }
   .fly2 {
      position: absolute;
      top: 35%;
      right: 3%;
      width: 180px;
      height: 185px;
      z-index: -1;
   }
   .fly3 {
      position: absolute;
      top: 35%;
      left: -15%;
      z-index: -1;
   }
   .fly4 {
      position: absolute;
      z-index: -1;
      left: 20%;
      bottom: 5%;
   }
   .fly5 {
      position: absolute;
      z-index: -1;
      left: -5%;
      bottom: -10%;
      filter: blur(9px);
   }
   .fly6 {
      position: absolute;
      z-index: -2;
      left: 3%;
      bottom: 10%;
      width: 153px;
      height: 143px;
      filter: blur(11px);
   }
   .fly7 {
      position: absolute;
      z-index: -1;
      left: 47%;
      bottom: -10%;
      width: 153px;
      height: 143px;
   }
   .fly8 {
      position: absolute;
      z-index: -1;
      filter: blur(20px);
      left: 25%;
      top: 20%;
   }
   .fly9 {
      position: absolute;
      z-index: -1;

      left: -5%;
      top: 5%;
   }
   .fly10 {
      position: absolute;
      z-index: -1;

      right: 0%;
      bottom: -5%;
   }
}
.catnip-heroe {
   height: 250vh;
   background: url(../img/bg-catnip.png);
   background-position-x: center;
   background-repeat: no-repeat;
   background-size: cover;
   .cat-lights {
      width: 100%;
      height: 100%;
      position: relative;
   }
   .light1 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      left: 5%;
   }
   .light2 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      right: 5%;
   }
   .light3 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 15%;
      right: 5%;
   }
   .light4 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 15%;
      left: 5%;
   }
   .cat {
      padding: 300px 0px 0px 0px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #ffffff;
   }
}
