@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Bold.otf") format("opentype");
}

body,
html {
  background: #000;
  font-family: "Roboto";
  color: #fff;
}

.container {
  margin: 0px auto;
  max-width: 1360px;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header li {
  opacity: 0.4;
  margin: 0px 14px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header li:hover {
  opacity: 1;
}

.header li.active {
  opacity: 1;
}

.header li a {
  color: #ffffff;
}

.header .butt {
  padding: 8px 16px;
  background: #000;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.header .butt img {
  margin: 0px 4px 0px 0px;
}

.intro {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.intro .iimg {
  width: 582px;
  height: 582px;
  position: absolute;
  z-index: 1;
  left: calc(50% - 240px);
  top: calc(50vh - 291px);
}

.intro .ileft {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  background: #ef2adc;
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.intro .iright {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background: #00ed75;
  width: 60vw;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.intro .cat {
  width: auto;
  height: 90vh;
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0px 0px 0px -100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro .cat img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.intro .ufo {
  width: auto;
  height: 90vh;
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px -80px 0px 0px;
}

.intro .ufo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.intro .mouse {
  position: absolute;
  left: calc(50% - 1.5rem);
  bottom: 20px;
  z-index: 5;
}

.about {
  height: 100vh;
  z-index: 0;
  background: #ef2adc;
  padding: 150px 70px;
  position: relative;
}

.about h2 {
  z-index: 2;
  font-family: "Bebas";
  font-style: normal;
  font-weight: 700;
  font-size: 199px;
  line-height: 0.9;
  text-transform: uppercase;
}

.about h2 span {
  color: #00ed75;
}

.about .fly1 {
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: -1;
}

.about .fly2 {
  position: absolute;
  top: 35%;
  right: 3%;
  width: 180px;
  height: 185px;
  z-index: -1;
}

.about .fly3 {
  position: absolute;
  top: 35%;
  left: -15%;
  z-index: -1;
}

.about .fly4 {
  position: absolute;
  z-index: -1;
  left: 20%;
  bottom: 5%;
}

.about .fly5 {
  position: absolute;
  z-index: -1;
  left: -5%;
  bottom: -10%;
  -webkit-filter: blur(9px);
          filter: blur(9px);
}

.about .fly6 {
  position: absolute;
  z-index: -2;
  left: 3%;
  bottom: 10%;
  width: 153px;
  height: 143px;
  -webkit-filter: blur(11px);
          filter: blur(11px);
}

.about .fly7 {
  position: absolute;
  z-index: -1;
  left: 47%;
  bottom: -10%;
  width: 153px;
  height: 143px;
}

.about .fly8 {
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  left: 25%;
  top: 20%;
}

.about .fly9 {
  position: absolute;
  z-index: -1;
  left: -5%;
  top: 5%;
}

.about .fly10 {
  position: absolute;
  z-index: -1;
  right: 0%;
  bottom: -5%;
}

.catnip-heroe {
  height: 100%;
  background: url(../img/bg-catnip.png);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catnip-heroe .cat-lights {
  width: 100%;
  height: 100%;
  position: relative;
}

.catnip-heroe .light1 {
  position: absolute;
  width: 444px;
  height: 491px;
  top: 20%;
  left: 0;
}

.catnip-heroe .light2 {
  position: absolute;
  width: 444px;
  height: 491px;
  top: 20%;
  right: 0;
}

.catnip-heroe .light3 {
  position: absolute;
  width: 444px;
  height: 491px;
  bottom: 10%;
  right: 0;
  z-index: 0;
}

.catnip-heroe .light4 {
  position: absolute;
  width: 444px;
  height: 491px;
  bottom: 10%;
  left: 0;
  z-index: 0;
}

.catnip-heroe .cat {
  padding: 30% 0px 0px 0px;
}

.catnip-heroe .cat img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catnip-heroe h3 {
  margin-top: calc();
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 3;
  color: #ffffff;
}

.catnip-heroe h1 {
  z-index: 3;
  font-family: 'Bebas';
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  line-height: 220px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.catnip-heroe .description {
  z-index: 3;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */
  text-align: center;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */