@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
   font-family: "Bebas";
   src: url("../fonts/BebasNeue Bold.otf") format("opentype");
}
.hiiden,
.game .down .right .coming-soon,
.integration .right .title-int {
   display: none;
}
body,
html {
   background: #000;
   font-family: "Roboto";
   color: #fff;
}
main {
   margin-bottom: -100vh;
}
.container {
   margin: 0px auto;
   max-width: 1360px;
}
.header {
   position: fixed;
   z-index: 100;
   width: 100%;
   margin: 20px 0px 0px 0px;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   ul {
      display: flex;
      align-items: center;
   }
   li {
      margin: 0px 14px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      a {
         color: #ffffff;
         opacity: 0.4;
         &:hover {
            opacity: 1;
         }
         &.active {
            opacity: 1;
         }
      }
   }
   .butt {
      padding: 8px 16px;
      background: #000;
      border-radius: 80px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      img {
         margin: 0px 4px 0px 0px;
      }
   }
}
.intro {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 100vh;
   .iimg {
      width: 582px;
      height: 582px;
      position: absolute;
      z-index: 1;
      left: calc(50% - 240px);
      top: calc(50vh - 291px);
   }

   .ileft {
      position: absolute;
      top: 0;
      left: 0;
      width: 60vw;
      height: 100vh;
      background: #ef2adc;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
   }
   .iright {
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      background: #00ed75;
      width: 59vw;
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
   }
   .cat {
      //width: 47vw;
      width: auto;
      height: 90vh;
      z-index: 3;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0px 0px 0px -100px;
      object-fit: cover;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }
   .ufo {
      width: auto;
      height: 90vh;
      z-index: 3;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0px -80px 0px 0px;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
         //margin: 0px 0px 0px 10px;
      }
   }
   .mouse {
      position: absolute;
      left: calc(50% - 1.5rem);
      bottom: 20px;
      z-index: 5;
   }
}
.about {
   height: 100vh;
   z-index: 0;
   background: #ef2adc;
   padding: 150px 70px;
   position: relative;
   h2 {
      z-index: 2;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 199px;
      line-height: 0.9;
      text-transform: uppercase;
      span {
         color: #00ed75;
      }
   }

   .fly1 {
      position: absolute;
      top: 5%;
      right: 20%;
      z-index: -1;
   }
   .fly2 {
      position: absolute;
      top: 35%;
      right: 3%;
      width: 180px;
      height: 185px;
      z-index: -1;
   }
   .fly3 {
      position: absolute;
      top: 35%;
      left: -15%;
      z-index: -1;
   }
   .fly4 {
      position: absolute;
      z-index: -1;
      left: 20%;
      bottom: 5%;
   }
   .fly5 {
      position: absolute;
      z-index: -1;
      left: -5%;
      bottom: -10%;
      filter: blur(9px);
   }
   .fly6 {
      position: absolute;
      z-index: -2;
      left: 3%;
      bottom: 10%;
      width: 153px;
      height: 143px;
      filter: blur(11px);
   }
   .fly7 {
      position: absolute;
      z-index: -1;
      left: 47%;
      bottom: -10%;
      width: 153px;
      height: 143px;
   }
   .fly8 {
      position: absolute;
      z-index: -1;
      filter: blur(20px);
      left: 25%;
      top: 20%;
   }
   .fly9 {
      position: absolute;
      z-index: -1;

      left: -5%;
      top: 5%;
   }
   .fly10 {
      position: absolute;
      z-index: -1;

      right: 0%;
      bottom: -5%;
   }
}
.catnip-heroe {
   height: 100%;
   background: url(../img/bg-catnip.png);
   background-position-x: center;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   .cat-lights {
      width: 100%;
      height: 100%;
      position: relative;
   }
   .light1 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      left: 50px;
   }
   .light2 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      right: 50px;
   }
   .light3 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 10%;
      right: 50px;
      z-index: 0;
   }
   .light4 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 10%;
      left: 50px;
      z-index: 0;
   }
   .cat {
      padding: 30% 0px 0px 0px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   h3 {
      margin-top: calc();
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      z-index: 3;
      color: #ffffff;
   }
   h1 {
      z-index: 3;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 220px;
      line-height: 220px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .description {
      z-index: 3;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      /* or 150% */

      text-align: center;

      color: #ffffff;
      padding-bottom: 81px;
   }
}
.ufo-heroe {
   background: url(../img/ufo-bg.png) no-repeat;
   background-size: cover;
   background-position-x: center;
   height: 100%;

   .cat-lights {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
   }
   .metal1 {
      position: absolute;

      top: 0%;
      left: -250px;
   }
   .metal2 {
      position: absolute;

      top: 0%;
      right: 0px;
   }
   .metal3 {
      position: absolute;

      bottom: 0%;
      right: 0;
      z-index: 0;
   }
   .metal4 {
      position: absolute;

      bottom: -30px;
      left: 0;

      z-index: 0;
   }
   .metal-ball1 {
      position: absolute;

      top: 5%;
      left: 15%;

      z-index: 0;
   }
   .metal-ball2 {
      position: absolute;

      bottom: 35%;
      right: 5%;

      z-index: 0;
   }
   .cat {
      padding: 30% 0px 0px 0px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   h3 {
      margin-top: calc();
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #ffffff;
   }
   h1 {
      z-index: 3;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 220px;
      line-height: 220px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .description {
      z-index: 3;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      /* or 150% */

      text-align: center;

      color: #ffffff;
      padding-bottom: 81px;
   }
}
.collection {
   position: relative;
   z-index: 1;
   top: -100vh;
   height: 100vh;
   background: #000;

   .allcards {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      .cards-left {
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-end;
         .card {
            margin-right: 13px;
         }
      }
      .cards-right {
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         .card {
            margin-left: 13px;
         }
      }
   }
}
.card {
   background: #171717;
   width: 216px;
   height: 270px;
   margin-bottom: 13px;
   border-radius: 13.6454px;
   .heroe-picture {
      img {
         width: 217px;
         height: 212px;
      }
   }
   .down {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;

      display: flex;
      justify-content: space-between;
      .name {
         font-style: normal;
         font-weight: 400;
         font-size: 16.3745px;
         line-height: 19px;
         color: #dbae00;
      }
      .number {
         font-style: normal;
         font-weight: 400;
         font-size: 16.3745px;
         line-height: 19px;

         color: #ffffff;
      }
   }
}
.wrap-fix {
   position: relative;
   height: 100vh;
   overflow: hidden;
   .animation-wrap {
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: url(../img/animation-group.svg);
      background-repeat: no-repeat;

      background-position: center;
      width: 100vw;
   }
}
.howmuch {
   height: 100vh;

   overflow: hidden;
   z-index: -1;

   .how1 {
      position: absolute;
      left: 50%;
      top: -10%;
   }
   .how2 {
      position: absolute;
      right: 5%;
      top: 10%;
   }
   .how3 {
      position: absolute;
      right: calc(50% + 343px);
      top: 230px;
      z-index: -1;
   }
   .how4 {
      position: absolute;
      top: 50%;
      left: -5%;
   }
   .how5 {
      position: absolute;
      top: 70%;
      left: 35%;
   }
   .how6 {
      position: absolute;
      top: 80%;
      left: 1%;
   }
   .how7 {
      position: absolute;
      bottom: -10%;
      right: 25%;
   }
   .how8 {
      position: absolute;
      bottom: 5%;
      right: 0%;
   }
   .title {
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 80px;
      /* identical to box height, or 133% */
      padding-top: 200px;

      text-align: center;
      color: #00ed75;
   }
   .number {
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 589.763px;
      line-height: 590px;
      /* identical to box height */
      text-align: center;
      text-transform: uppercase;

      color: #00ed75;
   }
}

.double {
   display: flex;
   height: 120vh;
   position: relative;
   padding-top: 10vh;
   padding-bottom: 10vh;
   background: url(../img/double-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   align-items: center;
   justify-content: center;
   .cardl {
      height: 100%;
      background: url(../img/double-left.png) #ef2adc no-repeat;
      background-position: top left;
      width: 35%;
      margin-left: 70px;
      margin-right: 20px;

      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      border-radius: 42.3174px;
      flex-direction: column;
      .number {
         font-size: 13vw;
         line-height: 100%;
         padding-left: 52px;
         padding-right: 52px;
         width: 100%;
         font-weight: bold;
         color: #fff;
         img {
            max-width: 100%;
            height: 100%;
         }
      }

      .name {
         font-style: normal;
         font-weight: 300;
         font-size: 50.7809px;
         line-height: 60px;
         /* identical to box height */
         margin-bottom: 15%;
         padding-left: 52px;

         color: #ffffff;
      }
   }

   .cardr {
      margin-right: 70px;
      margin-left: 20px;
      height: 100%;
      width: 35%;
      background: url(../img/double-right.png) #00ed75 no-repeat;
      background-position: bottom left;
      display: flex;
      flex-direction: column;
      border-radius: 42.3174px;
      .picture {
      }
      .number {
         font-size: 13vw;
         line-height: 100%;
         padding-left: 52px;
         padding-right: 52px;
         text-align: left;
         font-weight: bold;
         color: #fff;
         width: 100%;
         padding-top: 15%;
         img {
            max-width: 100%;
            height: 100%;
         }
      }
      .name {
         font-style: normal;
         font-weight: 300;
         font-size: 50.7809px;
         line-height: 60px;
         /* identical to box height */
         padding-left: 52px;

         color: #ffffff;
      }
   }
}

.game {
   background: url(../img/game-bg.png);
   position: relative;

   background-repeat: no-repeat;
   background-size: cover;
   .lefthp {
      width: 337px;
      height: 33px;
      background: url(../img/game-lefthp.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-left: 47px;

      color: #ffffff;
   }
   .up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5%;
   }
   .title-game {
      text-align: center;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 180px;
      line-height: 94%;
      /* or 169px */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .descripton-game {
      text-align: center;
      font-weight: 500;
      font-size: 28px;
      line-height: 48px;
      /* identical to box height, or 171% */

      text-align: center;

      color: #ffffff;
   }
   .righthp {
      width: 337px;
      height: 33px;
      background: url(../img/game-righthp.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      padding-right: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-right: 47px;
      justify-content: flex-end;
      color: #ffffff;
   }
   .center {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      display: flex;
      .left-heroe {
         margin-left: 5%;
         img {
            display: block;
            width: 100%;
         }
      }
      .game-center {
         display: block;
      }
      .right-heroe {
         margin-right: 5%;
         img {
            display: block;
            width: 100%;
         }
      }
   }
   .down {
      display: flex;
      margin-top: -5px;
      .left {
         flex-direction: column;
         display: flex;
         justify-content: center;

         width: 50%;
         background: #ef2adc;
         .title-down {
            display: flex;
            justify-content: center;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 127.19%;
            /* or 41px */

            text-align: center;
            margin: 0 auto;

            max-width: 516px;
            padding: 10% 0;

            color: #ffffff;
         }
         .coming-soon {
            padding-left: 40px;
            padding-bottom: 5%;
            opacity: 0.4;
            display: flex;
            .logo {
               img {
                  margin-right: 13px;
               }
            }
            .text {
               font-weight: 400;
               font-size: 20px;
               line-height: 127.19%;
               color: #000000;
            }
         }
      }
      .right {
         align-items: flex-end;
         flex-direction: column;
         width: 50%;
         background: #00ed75;
         display: flex;

         .title-down {
            display: flex;

            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 127.19%;
            /* or 41px */

            text-align: center;
            margin: 0 auto;

            max-width: 516px;
            padding: 10% 0;

            color: #ffffff;
         }
      }
   }
}
.integration {
   padding-top: 10vh;
   padding-bottom: 10vh;

   padding: auto 5%;
   display: flex;
   position: relative;

   .left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 80%;
      width: 60%;
      padding-left: 5%;
      .title-int {
         padding-top: 20px;
         padding-bottom: 20px;
         font-family: "Bebas";
         font-style: normal;
         font-weight: 700;
         font-size: 120px;
         line-height: 120px;
         /* identical to box height */

         text-transform: uppercase;

         color: #ffffff;
      }
      .description1 {
         font-weight: 300;
         font-size: 32px;
         line-height: 127.19%;
         /* or 41px */

         color: #ffffff;
      }
      .description2 {
         margin-top: 24px;
         font-weight: 300;
         font-size: 32px;
         line-height: 127.19%;
         /* or 41px */

         color: #ffffff;
      }
   }
   .right {
      margin-left: 56px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 5%;
      width: 40%;
      height: 80%;
      align-items: flex-end;
      .phone {
         border: 10px solid #480d42;
         border-radius: 45px;
         height: 784px;
         width: 519px;
         margin-left: auto;
         margin-left: 20px;
         box-shadow: 0px 8px 38px 0px #ff00f533;

         box-shadow: 0px 38px 184px 0px #ef2adc5e;
      }
   }
   .video-container {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 35px;
      z-index: 1;
      video {
         z-index: -1;
      }
   }

   .video-container video {
      max-width: 120%;
      max-height: 120%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
   }
}
.subscribe {
   background: url(../img/light-sub.png) #ef2adc;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   position: relative;
   overflow: hidden;

   .title-sub {
      z-index: -2;
      padding-top: 40vh;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
   }
   .sub1 {
      position: absolute;
      z-index: 1;
      top: -170px;
      left: 40%;
   }
   .sub2 {
      position: absolute;
      z-index: 1;
      right: calc(50% - 575px);
      top: calc(50% - 400px);
   }
   .sub3 {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 10vh;
   }

   .sub4 {
      position: absolute;
      z-index: 1;
      left: calc(40% - 306px);
      bottom: calc(40% - 349px);
   }
   .sub5 {
      position: absolute;
      z-index: 1;
      right: 5vw;
      bottom: 0;
   }
   .sub6 {
      position: absolute;
      z-index: 0;
      bottom: -5%;
      right: 0;
   }
   .sub7 {
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: calc(50% - 300px);
   }
   a {
      display: block;
      position: relative;
      width: 420px;
      height: 110px;
      background: #000000;
      border-radius: 167.75px;
      margin: 0 auto;
      margin-top: 26px;
      z-index: 20;
   }
   .button {
      width: 420px;
      height: 110px;
      background: #000000;
      border-radius: 167.75px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
   }
   .text {
      font-weight: 400;
      font-size: 41.25px;
      line-height: 48px;

      color: #ffffff;
      padding-left: 11px;
   }
}
.roadmap {
   .title {
      padding-top: 114px;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 200px;
      line-height: 200px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
}
