@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
   font-family: "Bebas";
   src: url("../fonts/BebasNeue Bold.otf") format("opentype");
}
.mob-road {
   display: none;
}
.hiiden,
.game .down .right .coming-soon,
.integration .right .title-int,
.phraze-mob,
.header-mob {
   display: none;
}

body,
html {
   background: #000;
   font-family: "Roboto";
   color: #fff;
}
main {
}
.container {
   margin: 0px auto;
   max-width: 1360px;
}
.header {
   position: fixed;
   z-index: 100;
   width: 100%;
   margin: 20px 0px 0px 0px;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   ul {
      display: flex;
      align-items: center;
   }
   li {
      margin: 0px 14px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      a {
         color: #ffffff;
         opacity: 0.4;
         &:hover {
            opacity: 1;
         }
         &.active {
            opacity: 1;
         }
      }
   }
   .butt {
      padding: 8px 16px;
      background: #000;
      border-radius: 80px;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      img {
         margin: 0px 4px 0px 0px;
      }
   }
}
.intro {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 100vh;
   .iimg {
      width: 582px;
      height: 582px;
      position: absolute;
      z-index: 1;
      left: calc(50% - 240px);
      top: calc(50vh - 291px);
   }

   .ileft {
      position: absolute;
      top: 0;
      left: 0;
      width: 60vw;
      height: 100vh;
      background: #ef2adc;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
   }
   .iright {
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      background: #00ed75;
      width: 59vw;
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
   }
   .cat {
      //width: 47vw;
      width: auto;
      height: 90vh;
      z-index: 3;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0px 0px 0px -100px;
      object-fit: cover;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }
   .ufo {
      width: auto;
      height: 90vh;
      z-index: 3;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0px -80px 0px 0px;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
         //margin: 0px 0px 0px 10px;
      }
   }
   .mouse {
      position: absolute;
      left: calc(50% - 1.5rem);
      bottom: 20px;
      z-index: 5;
   }
}
.about {
   height: 100vh;
   z-index: 0;
   background: #ef2adc;
   padding: 150px 70px;
   position: relative;
   h2 {
      z-index: 2;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 199px;
      line-height: 0.9;
      text-transform: uppercase;
      text-align-last: left;
      span {
         color: #00ed75;
      }
   }

   .fly1 {
      position: absolute;
      top: 5%;
      right: 20%;
      z-index: -1;
   }
   .fly2 {
      position: absolute;
      top: 35%;
      right: 3%;
      width: 180px;
      height: 185px;
      z-index: -1;
   }
   .fly3 {
      position: absolute;
      top: 35%;
      left: -15%;
      z-index: -1;
   }
   .fly4 {
      position: absolute;
      z-index: -1;
      left: 20%;
      bottom: 5%;
   }
   .fly5 {
      position: absolute;
      z-index: -1;
      left: -5%;
      bottom: -10%;
      filter: blur(9px);
   }
   .fly6 {
      position: absolute;
      z-index: -2;
      left: 3%;
      bottom: 10%;
      width: 153px;
      height: 143px;
      filter: blur(11px);
   }
   .fly7 {
      position: absolute;
      z-index: -1;
      left: 47%;
      bottom: -10%;
      width: 153px;
      height: 143px;
   }
   .fly8 {
      position: absolute;
      z-index: -1;
      filter: blur(20px);
      left: 25%;
      top: 20%;
   }
   .fly9 {
      position: absolute;
      z-index: -1;

      left: -5%;
      top: 5%;
   }
   .fly10 {
      position: absolute;
      z-index: -1;

      right: 0%;
      bottom: -5%;
   }
}
.catnip-heroe {
   height: 100%;
   background: url(../img/bg-catnip.png);
   background-position-x: center;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   .cat-lights {
      width: 100%;
      height: 100%;
      position: relative;
   }
   .light1 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      left: 50px;
   }
   .light2 {
      position: absolute;
      width: 444px;
      height: 491px;
      top: 20%;
      right: 50px;
   }
   .light3 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 10%;
      right: 50px;
      z-index: 0;
   }
   .light4 {
      position: absolute;
      width: 444px;
      height: 491px;
      bottom: 10%;
      left: 50px;
      z-index: 0;
   }
   .cat {
      padding: 30% 0px 0px 0px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   h3 {
      margin-top: calc();
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      z-index: 3;
      color: #ffffff;
   }
   h1 {
      z-index: 3;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 220px;
      line-height: 220px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .description {
      z-index: 3;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      /* or 150% */

      text-align: center;

      color: #ffffff;
      padding-bottom: 81px;
      margin-top: -15px;
   }
}
.double .cardr .number{
   padding-top:5%!important;
}
.double .cardl .name{
   padding-bottom: 5%!important;
}
.ufo-heroe {
   background: url(../img/ufo-bg.png) no-repeat;
   background-size: cover;
   background-position-x: center;
   height: 100%;

   .cat-lights {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
   }
   .metal1 {
      position: absolute;

      top: 0%;
      left: -250px;
   }
   .metal2 {
      position: absolute;

      top: 0%;
      right: 0px;
   }
   .metal3 {
      position: absolute;

      bottom: 0%;
      right: 0;
      z-index: 0;
   }
   .metal4 {
      position: absolute;

      bottom: -100px;
      left: 0;

      z-index: 0;
   }
   .metal-ball1 {
      position: absolute;

      top: 5%;
      left: 15%;

      z-index: 0;
   }
   .metal-ball2 {
      position: absolute;

      bottom: 35%;
      right: 5%;

      z-index: 0;
   }
   .cat {
      padding: 30% 0px 0px 0px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }
   h3 {
      margin-top: calc();
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #ffffff;
   }
   h1 {
      z-index: 3;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 220px;
      line-height: 220px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .description {
      z-index: 3;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      /* or 150% */

      text-align: center;

      color: #ffffff;
      padding-bottom: 81px;
      margin-top: -15px;
   }
}
.collection {
   
   z-index: 1;
   overflow: hidden;
   height: 100%;
   background: #000;

   .allcards {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
      .cards-left {
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-end;
         margin-right: -7.5px;
         .card {
            margin-right: 13px;
         }
      }
      .cards-right {
         margin-left: -7.5px;
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         .card {
            margin-left: 13px;
         }
      }
   }
}
.card {
   background: #171717;
   width: 216px;
   height: 270px;
   margin-bottom: 13px;
   border-radius: 13.6454px;
   .heroe-picture {
      img {
         width: 217px;
         height: 212px;
      }
   }
   .down {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;

      display: flex;
      justify-content: space-between;
      .name {
         font-style: normal;
         font-weight: 400;
         font-size: 16.3745px;
         line-height: 19px;
         color: #dbae00;
      }
      .number {
         font-style: normal;
         font-weight: 400;
         font-size: 16.3745px;
         line-height: 19px;

         color: #ffffff;
      }
   }
}
.wrap-fix {
   position: relative;
   height: 100vh;
   overflow: hidden;
   .animation-wrap {
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: url(../img/animation-group.svg);
      background-repeat: no-repeat;

      background-position: center;
      width: 100vw;
   }
}
.howmuch {
   height: 100vh;
   display: block;
   overflow: hidden;
   background: url(../img/howmuch.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

   .how1 {
      position: absolute;
      left: 50%;
      top: -10%;
   }
   .how2 {
      position: absolute;
      right: 5%;
      top: 10%;
   }
   .how3 {
      position: absolute;
      right: calc(50% + 343px);
      top: 230px;
      z-index: -1;
   }
   .how4 {
      position: absolute;
      top: 50%;
      left: -5%;
   }
   .how5 {
      position: absolute;
      top: 70%;
      left: 35%;
   }
   .how6 {
      position: absolute;
      top: 80%;
      left: 1%;
   }
   .how7 {
      position: absolute;
      bottom: 0%;
      right: 25%;
   }
   .how8 {
      position: absolute;
      bottom: 5%;
      right: 0%;
   }
   .title {
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 80px;
      /* identical to box height, or 133% */
      padding-top: 200px;

      text-align: center;
      color: #00ed75;
   }
   .number {
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 589.763px;
      line-height: 590px;
      /* identical to box height */
      text-align: center;
      text-transform: uppercase;

      color: #00ed75;
   }
}
.skins{
   height: 100%;
   overflow: hidden;
   
   overflow: hidden;
   .title{
      font-family: 'Bebas';
      margin-top: 112px;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 94%;
/* or 94px */

text-align: center;
text-transform: uppercase;

background: linear-gradient(90.46deg, #BF22B0 10.27%, #E0B70F 96.57%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
   }
   img{
      margin: 10px;
      background: #141414;
border-radius: 7.02524px;
   }
   .skinses{
      padding-top: 50px;
      width: 1200px;
      margin: 0 auto;
      
   }
   .bro{
      position: relative;
      height: 730px;
   }
   .nobg{
      background: #000;
      position: absolute;
      right: 0;
      bottom: 0;
   }
}
.double {
   display: flex;
   height: 100%;
   position: relative;
   padding-top: 10vh;
   padding-bottom: 10vh;
   background: url(../img/double-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   align-items: center;
   justify-content: center;
   .cardl {
      height: 884px;
      background: url(../img/double-left.png) #ef2adc no-repeat;
      background-position: top left;
      width: 35%;
      margin-left: 70px;
      margin-right: 20px;
      width: 600px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      border-radius: 42.3174px;
      flex-direction: column;
      .number {
         font-size: 11vw;
         line-height: 100%;
         padding-left: 52px;
         padding-right: 52px;
         width: 100%;
         font-weight: bold;
         color: #fff;

         text-align: left;
         display: block;
         margin-right: auto;

         img {
         }
      }

      .name {
         font-style: normal;
         font-weight: 300;
         font-size: 50.7809px;
         line-height: 60px;
         /* identical to box height */

         padding-left: 52px;
         margin-top: 20px;
         color: #ffffff;
      }
   }

   .cardr {
      margin-right: 70px;
      margin-left: 20px;
      height: 884px;
      width: 35%;
      width: 600px;
      background: url(../img/double-right.png) #00ed75 no-repeat;
      background-position: bottom left;
      display: flex;
      flex-direction: column;
      border-radius: 42.3174px;
      .picture {
      }
      .number {
         font-size: 13vw;
         line-height: 100%;
         padding-left: 52px;
         padding-right: 52px;
         text-align: left;
         font-weight: bold;
         color: #fff;
         width: 100%;
      }
      .name {
         font-style: normal;
         font-weight: 300;
         font-size: 50.7809px;
         line-height: 60px;
         /* identical to box height */
         padding-left: 52px;
         text-align: left;
         margin-top: 20px;
         color: #ffffff;
      }
   }
}
.custom {
   overflow: hidden;
   .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      gap: 4px;

      width: 232px;
      height: 40px;

      background: #bf22b0;
      border-radius: 61px;
      margin: 0 auto;
      margin-top: 112px;
      margin-bottom: 35px;
   }
   h1 {
      margin-bottom: 0!important;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      line-height: 94%;
      /* identical to box height, or 94px */

      text-transform: uppercase;

      background: linear-gradient(90.46deg, #bf22b0 10.27%, #e0b70f 96.57%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }
   h2 {
      font-weight: 300;
      font-size: 28px;
      line-height: 36px;
      /* or 129% */

      text-align: center;

      color: #ffffff;
      margin: 0 auto;
      max-width: 915px;
      max-height: 108px;
   }
   .kat {
      position: relative;
      width: 750px;
      height: 900px;
      left: calc(50% - 375px);

      img {
         left: 0;
         bottom: 0;
         position: absolute;
      }
      .body-cat {
         z-index: -1;
      }
      .clothes1 {
         z-index: 0;
      }
      .clothes2 {
         z-index: 0;
      }
      .clothes3 {
         z-index: 1;
      }
      .clothes4 {
         z-index: 0;
      }
      .clothes5 {
         z-index: 0;
      }
      .clothes6 {
         z-index: 2;
      }
      .body-cat {
         z-index: -1;
      }
      .clothes11 {
         z-index: 0;
      }
      .clothes22 {
         z-index: 0;
      }
      .clothes33 {
         z-index: 1;
      }
      .clothes44 {
         z-index: 0;
      }
      .clothes55 {
         z-index: 0;
      }
      .clothes66 {
         z-index: 2;
      }
   }
   .kat-2 {
      position: relative;
      width: 750px;
      height: 900px;
      //left: calc(50% - 375px);
      left: 0;
      top: 0;
      img {
         left: 0;
         bottom: 0;
         position: absolute;
      }
   }
   .img-wrapper {
      max-width: 100vw;
      height: 562px;
      position: relative;
      .first{
         position: absolute;
         left: 0;
      }
      .second{
         position: absolute;
         left: calc(50% - 234px);
      }
      .third{
         position: absolute;
         right: 0;
      }
      .fourth{
         bottom:calc(50% - 100px) ;
            position: absolute;
            left: 30%;
         
      }
      .fiveth{
         bottom:calc(50% - 100px) ;
            position: absolute;
            left:60%;
         
      }
      .first-mob,.second-mob,.third-mob,.fourth-mob,.fiveth-mob{
         display: none;
      }
   }
   .phraze {
      position: absolute;
      z-index: 3;
      left: calc(50% + 50px);
      bottom: calc(50% - 150px);
   }
}
.game {
   background: url(../img/game-bg.png);
   position: relative;

   background-repeat: no-repeat;
   background-size: cover;
   .lefthp {
      width: 337px;
      height: 33px;
      background: url(../img/game-lefthp.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-left: 47px;

      color: #ffffff;
   }
   .up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5%;
   }
   .title-game {
      text-align: center;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 180px;
      line-height: 94%;
      /* or 169px */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .descripton-game {
      text-align: center;
      font-weight: 500;
      font-size: 28px;
      line-height: 48px;
      /* identical to box height, or 171% */

      text-align: center;

      color: #ffffff;
   }
   .righthp {
      width: 337px;
      height: 33px;
      background: url(../img/game-righthp.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      padding-right: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-right: 47px;
      justify-content: flex-end;
      color: #ffffff;
   }
   .center {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      display: flex;
      .left-heroe {
         margin-left: 5%;
         img {
            display: block;
            width: 100%;
         }
      }
      .game-center {
         display: block;
      }
      .right-heroe {
         margin-right: 5%;
         img {
            display: block;
            width: 100%;
         }
      }
   }
   .down {
      display: flex;
      margin-top: -5px;
      .left {
         flex-direction: column;
         display: flex;
         justify-content: center;

         width: 50%;
         background: #ef2adc;
         .title-down {
            display: flex;
            justify-content: center;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 127.19%;
            /* or 41px */

            text-align: center;
            margin: 0 auto;

            max-width: 516px;
            padding: 10% 0;

            color: #ffffff;
         }
         .coming-soon {
            padding-left: 40px;
            padding-bottom: 5%;
            opacity: 0.4;
            display: flex;
            .logo {
               img {
                  margin-right: 13px;
               }
            }
            .text {
               font-weight: 400;
               font-size: 20px;
               line-height: 127.19%;
               color: #000000;
               text-align-last: left;
            }
         }
      }
      .right {
         align-items: flex-end;
         flex-direction: column;
         width: 50%;
         background: #00ed75;
         display: flex;

         .title-down {
            display: flex;

            width: 100%;
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 127.19%;
            /* or 41px */

            text-align: center;
            margin: 0 auto;

            max-width: 516px;
            padding: 10% 0;

            color: #ffffff;
         }
      }
   }
}
.integration {
   padding-top: 10vh;
   padding-bottom: 10vh;

   padding: auto 5%;
   display: flex;
   position: relative;

   .left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 80%;
      width: 60%;
      padding-left: 5%;
      .title-int {
         text-align: left;
         padding-top: 20px;
         padding-bottom: 20px;
         font-family: "Bebas";
         font-style: normal;
         font-weight: 700;
         font-size: 120px;
         line-height: 120px;
         /* identical to box height */

         text-transform: uppercase;

         color: #ffffff;
      }
      .description1 {
         font-weight: 300;
         font-size: 32px;
         line-height: 127.19%;
         /* or 41px */
         text-align: left;
         color: #ffffff;
      }
      .description2 {
         margin-top: 24px;
         font-weight: 300;
         font-size: 32px;
         line-height: 127.19%;
         /* or 41px */
         text-align: left;
         color: #ffffff;
      }
   }
   .right {
      margin-left: 56px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 5%;
      width: 40%;
      height: 80%;
      align-items: flex-end;
      .phone {
         border: 10px solid #480d42;
         border-radius: 45px;
         height: 784px;
         width: 519px;
         margin-left: auto;
         margin-left: 20px;
         box-shadow: 0px 8px 38px 0px #ff00f533;

         box-shadow: 0px 38px 184px 0px #ef2adc5e;
      }
   }
   .video-container {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 35px;
      z-index: 1;
      video {
         z-index: -1;
         display: block;
         object-fit: cover;
      }
   }

   .video-container video {
      max-width: 120%;
      max-height: 120%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
   }
}
.subscribe {
   overflow: hidden;
   background: url(../img/light-sub.png) #ef2adc;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   position: relative;
   overflow: hidden;

   .title-sub {
      z-index: -2;
      padding-top: 40vh;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
   }
   .sub1 {
      position: absolute;
      z-index: 1;
      top: -170px;
      left: 40%;
   }
   .sub2 {
      position: absolute;
      z-index: 1;
      right: calc(50% - 575px);
      top: calc(50% - 400px);
   }
   .sub3 {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 10vh;
   }

   .sub4 {
      position: absolute;
      z-index: 1;
      left: calc(40% - 306px);
      bottom: calc(40% - 349px);
   }
   .sub5 {
      position: absolute;
      z-index: 1;
      right: 5vw;
      bottom: 0;
   }
   .sub6 {
      position: absolute;
      z-index: 0;
      bottom: -5%;
      right: 0;
   }
   .sub7 {
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: calc(50% - 300px);
   }
   a {
      display: block;
      position: relative;
      width: 420px;
      height: 110px;
      background: #000000;
      border-radius: 167.75px;
      margin: 0 auto;
      margin-top: 26px;
      z-index: 20;
      margin-bottom: 40vh;
   }
   .button {
      width: 420px;
      height: 110px;
      background: #000000;
      border-radius: 167.75px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
   }
   .text {
      font-weight: 400;
      font-size: 41.25px;
      line-height: 48px;

      color: #ffffff;
      padding-left: 11px;
   }
}
@media (max-width: 1300px) {
   .places {
      position: static;
      display: block !important;
      left: 0 !important;
      top: 200px !important;
      height: 1042px;
   }
   .mob-road {
      display: flex;
      width: 100vw;
      position: absolute;
   }
   .roadmap {
      .title {
         margin-left: 20px;
      }
   }
}
.roadmap {
   position: relative;
   background: #000;
   .desk-road {
      display: block;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 50px;
   }
   .title {
      padding-top: 114px;
      font-family: "Bebas";
      font-style: normal;
      font-weight: 700;
      font-size: 200px;
      line-height: 200px;
      /* identical to box height */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
   }
   .canvas {
      width: 1280px !important;
      height: 2200px !important;
      margin-top: 0 !important;
      margin-bottom: 50px;
   }
   .places {
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // top: 0;
      // left: calc(50% - 640px);
      display: none;
   }
   .place1 {
      position: absolute;
      left: 210px;
      top: 200px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #00ed75;
      }
      .what {
         text-align-last: left;
         font-weight: 400;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */

         color: #00ed75;
      }
   }
   .place2 {
      position: absolute;
      left: 602px;
      top: 434px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #00ed75;
      }
      .what {
         text-align-last: left;
         font-weight: 400;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */

         color: #00ed75;
      }
   }
   .place3 {
      position: absolute;
      left: 831px;
      top: 726px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #ffffff;
      }
      .what {
         font-weight: 400;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         text-align-last: left;

         color: #ffffff;
      }
   }
   .place4 {
      position: absolute;
      left: 627px;
      top: 961px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #ffffff;
      }
      .what {
         font-weight: 400;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         text-align-last: left;

         color: #ffffff;
      }
   }
   .place5 {
      position: absolute;
      left: 213px;
      top: 1003px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #ffffff;
      }
      .what {
         font-weight: 400;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         text-align-last: left;

         color: #ffffff;
      }
   }
   .place6 {
      position: absolute;
      left: 152px;
      top: 1364px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #ffffff;
      }
      .what {
         font-weight: 400;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         text-align-last: left;

         color: #ffffff;
      }
   }
   .place7 {
      position: absolute;
      left: 207px;
      top: 1665px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #ffffff;
      }
      .what {
         font-weight: 700;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         text-align-last: left;
         background: rgba(217, 217, 217, 0.11);
         color: #ffffff;
         filter: blur(19px);
      }
   }
   .place8 {
      position: absolute;
      left: 841px;
      top: 1880px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #ffffff;
      }
      .what {
         font-weight: 700;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         text-align-last: left;

         color: #ffffff;
      }
   }

   .place9 {
      position: absolute;
      left: 518px;
      top: 2392px;
      .date {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         text-align-last: left;
         color: #ffffff;
      }
      .what {
         font-weight: 700;
         font-size: 40px;
         line-height: 47px;
         /* identical to box height */
         text-align-last: left;
         filter: blur(12px);
         background: rgba(217, 217, 217, 0.11);
         color: #ffffff;
      }
   }
}
#background,
#background2 {
   width: 1280px !important;
   height: 720px !important;
}
